.isSubtle {
  color: hsl(var(--mui-palette-common-onBackgroundChannel) / 0.6);
  &.isAccent {
    color: hsl(var(--mui-palette-primary-lightChannel) / 0.75);
  }
}
.isAccent {
  color: hsl(var(--mui-palette-primary-mainChannel) / 1);
}

.isTiny {
  font-size: 0.563rem;
}
.isExtraSmall {
  font-size: 0.625rem;
}
.isSmall {
  font-size: 0.75rem;
}

.isSubtle {
  color: var(--colors-subtle, rgba(255, 255, 255, 0.5));
  border-color: var(--colors-subtle, rgba(255, 255, 255, 0.25));
}
